.results-item {
  height: 64px;
  display: flex;
  align-items: center;

  &-img {
    height: 100%;
  }

  &-info {
    margin-left: 16px;
  }

  &-title {
    margin: 0;
  }

  &-date {
    margin-top: 8px;
  }

  &-numbers {
    margin-left: 32px;
    display: flex;
    height: 100%;
  }

  &-number {
    width: 64px;
    background-color: #F3F3F3;
    padding: 20px;
    margin: 0 8px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;

  }
}
