<template>
  <div class="lottery-company">
    <Header></Header>
    <div class="checkout-content">
      <h1 class="checkout-title">Confirmación de compra</h1>
      <h3 class="checkout-sub-title">Ya has realizado tu compra!</h3>
      <p class="checkout-paragraph">Puedes consultar el estado de tu
        compra cuando quieras en el apartado
        <b>Mis compras</b>.
      </p>
      <p class="checkout-paragraph">
        En breve recibirá un e-mail con todos los detalles de la compra.
        En caso de no recibir el e-mail,
        consulta en el apartado de correo no deseado.
      </p>
      <table class="checkout-resume">
        <tr class="checkout-resume-row">
          <td class="checkout-resume-col"><b>Número de pedido</b></td>
          <td class="checkout-resume-col">243432432342</td>
        </tr>
        <tr class="checkout-resume-row">
          <td class="checkout-resume-col"><b>Importe total</b></td>
          <td class="checkout-resume-col">420,00 €</td>
        </tr>
        <tr class="checkout-resume-row">
          <td class="checkout-resume-col"><b>Fecha del pedido</b></td>
          <td class="checkout-resume-col">22/12/2018 13:43:57</td>
        </tr>
      </table>
      <router-link to="/">
        <button class="checkout-btn-black">Volver al inicio</button>
      </router-link>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../header/Header';
import Footer from '../footer/Footer';

export default {
  name: 'Checkout',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/checkout/checkout";
</style>
