<template>
  <header class="header">
    <Info/>
    <Menu/>
  </header>
</template>

<script>
import Info from './Info';
import Menu from './Menu';

export default {
  name: 'Header',
  components: {
    Info,
    Menu,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/header/Header";
</style>
