<template>
  <div class="header-info">
    <ul class="header-info-contact">
      <li class="header-info-support">
        <p>Teléfono de contacto:  +34 937 11 29 52</p>
      </li>
      <li class="header-info-support">
        <button class="header-info-button">Contacto</button>
      </li>
      <li class="header-info-support">
        <button class="header-info-button">Ayuda</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Info',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/header/Info";
</style>
