<template>
  <nav class="header-options" id="header-options">
    <router-link to="/">
      <img
        class="header-logo"
        src="../../../static/images/logos/loteria_9_black.png"
      />
    </router-link>
    <ul class="header-options-menu">
      <li class="menu-item">
        <router-link to="/national-lottery">
          <button class="menu-item-btn">Loteria Nacional</button>
        </router-link>
      </li>
      <li class="menu-item">
        <router-link to="/lottery-company">
          <button class="menu-item-btn">Loteria para empresas</button>
        </router-link>
      </li>
      <li class="menu-item">
        <router-link to="/results-and-awards">
          <button class="menu-item-btn">Resultados y botes</button>
        </router-link>
      </li>
      <li class="menu-item">
        <router-link to="/awards">
          <button class="menu-item-btn">Premios repartidos</button>
        </router-link>
      </li>
    </ul>
    <ul class="header-options-nav-tools" @mouseleave="mouseOut">
      <li class="nav-tools-item">
        <router-link to="/login">
          <button class="nav-tools-btn" @mouseover="mouseOverTools"><Person/></button>
        </router-link>
        <ul class="user-menu" v-if="this.activeTools">
          <li class="user-menu-item">
            <router-link to="/login">
              Iniciar Sessión
            </router-link>
          </li>
          <li class="user-menu-item">
            <router-link to="/signUp">
              Registrarse
            </router-link>
          </li>
          <li class="user-menu-item">
            <router-link to="/login">
              Mis compras
            </router-link>
          </li>
        </ul>
      </li>
      <li class="nav-tools-item">
        <router-link to="/cart">
          <button class="nav-tools-btn" @mouseover="mouseOverCart"><Cart/></button>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import Person from '../../assets/person.svg';
import Cart from '../../assets/addShoppingCart.svg';

export default {
  name: 'Menu',
  data() {
    return {
      activeTools: false,
    };
  },
  components: {
    Person,
    Cart,
  },
  created() {
    window.addEventListener('scroll', this.fixHeader);
  },
  destroyed() {
    window.removeEventListener('scroll', this.fixHeader);
  },
  methods: {
    mouseOut() {
      this.activeTools = false;
    },
    mouseOverTools() {
      this.activeTools = true;
    },
    mouseOverCart() {
      this.activeTools = false;
    },
    fixHeader() {
      const header = document.getElementById('header-options');

      if (window.pageYOffset > 32) {
        header.classList.add('sticky-bar');
      } else {
        header.classList.remove('sticky-bar');
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/header/Menu";
</style>
