<template>
  <div class="awards">
    <Header></Header>
    <div class="awards-content">

    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'awards',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/awards";
</style>
