<template>
  <div class="cart">
    <Header></Header>
    <div class="cart-content">
      <h1 class="cart-title">TU BOLSA</h1>
      <div class="cart-resume">
        <ul class="cart-list-header">
        <li class="cart-list-header-item">Sorteo</li>
        <li class="cart-list-header-item">Decimo</li>
        <li class="cart-list-header-item">Cantidad</li>
        <li class="cart-list-header-item">Precio</li>
      </ul>
        <ul class="cart-list-product">
          <li class="cart-list-product-item">
            <img
              class="product-image"
              src="../../static/images/decimo_navidad_2018.jpg"/>
          </li>
          <li class="cart-list-product-item">45890<li>
          <li class="cart-list-product-item">1</li>
          <li class="cart-list-product-item item-price">20,00 €</li>
        </ul>
        <ul class="cart-list-product">
          <li class="cart-list-product-item">
            <img
              class="product-image"
              src="../../static/images/decimo_navidad_2018.jpg"/>
          </li>
          <li class="cart-list-product-item">14560<li>
          <li class="cart-list-product-item">22</li>
          <li class="cart-list-product-item item-price">440,00 €</li>
        </ul>
        <ul class="cart-list-product">
          <li class="cart-list-product-item">
            <img
              class="product-image"
              src="../../static/images/decimo_navidad_2018.jpg"/>
          </li>
          <li class="cart-list-product-item">12345<li>
          <li class="cart-list-product-item">3</li>
          <li class="cart-list-product-item item-price">60,00 €</li>
        </ul>
      </div>
      <div class="card-confirm">
        <div class="card-confirm-total">
          <p class="card-confirm-total-label">Total:</p>
          <p class="card-confirm-total-price">520,00 €</p>
        </div>
        <button class="btn-black-card-confirm">Comprar</button>
      </div>
      <p class="card-info-legal">
        Al hacer click en 'Comprar', afirmas que has leído, entendido
        y que aceptas nuestras Condiciones de compra.
        La empresa que emitirá la factura está domiciliada en España.
      </p>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'cart',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/cart";
</style>
