<template>
  <div class="home">
    <Header></Header>
    <div class="home-content">
      <div class="photo">
        <img class="photo-img" src="../../static/images/loteria03012017.jpg"/>
      </div>
      <div class="promo">
        <img class="promo-img" src="../../static/images/portada-loteria.jpg"/>
      </div>
      <div class="menu-type">
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/bono.jpg"/>
          <h3 class="menu-type-info">Bonoloto</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/euromillones.jpg"/>
          <h3 class="menu-type-info">Euromillones</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/gordo.jpg"/>
          <h3 class="menu-type-info">El Gordo</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/loterianacional.jpg"/>
          <h3 class="menu-type-info">Lotería Nacional</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/lototuf.jpg"/>
          <h3 class="menu-type-info">Lototurf</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/primitiva.jpg"/>
          <h3 class="menu-type-info">La Primitiva</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/quiniela.jpg"/>
          <h3 class="menu-type-info">Quiniela</h3>
        </div>
        <div class="menu-type-item">
          <img class="menu-type-img" src="../../static/images/logos/quinigol.jpg"/>
          <h3 class="menu-type-info">Quinigol</h3>
        </div>
      </div>
      <div class="home-info">Loteria per empreses</div>
      <div class="home-info">Info</div>
      <div class="home-info">Info</div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'Home',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/home";
</style>
