<template>
  <div class="login">
    <Header></Header>
    <div class="login-content">
      <div class="login-content-form">
        <h2>Ya tengo usuario</h2>
        <p>Escribe tu direcció de correo electrónico y contraseña para identificarte.</p>
        <form
          class="login-form"
          @submit="checkForm"
          action="localhost/8080"
          method="post"
        >
          <input
            class="form-input"
            placeholder="Correo electrónico"
            type="text"
            id="mail"
            v-model="mail"
            name="mail"
          />
          <span class="error-msg" v-if="errorEmail">{{this.errorEmail}}</span>
          <input
            class="form-input"
            placeholder="Contraseña"
            type="password"
            id="passwd"
            v-model="passwd"
            name="passwd"
          />
          <span class="error-msg" v-if="errorPassword">{{this.errorPassword}}</span>
          <button
            class="btn-black-login"
            type="submit"
          >Iniciar sesión</button>
        </form>
        <p class="recover-password">¿Has olvidado la contraseña?</p>
      </div>
      <div class="login-content-register">
        <h2>Quiero tener una nueva cuenta</h2>
        <p class="register-text">
          Si encara no teniu un compte d'usuari de <b>loteria9sabadell.com</b>,
          utilitzeu aquesta opció per accedir al formulari de registre.
        </p>
        <p class="register-text">
          Us sol·licitarem la informació imprescindible per agilitar el procés de compra.
        </p>
        <router-link to="/signUp">
          <button class="btn-black-login">Crear cuenta</button>
        </router-link>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'Login',
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      errors: [],
      mail: null,
      passwd: null,
      errorEmail: null,
      errorPassword: null,
    };
  },
  methods: {
    checkForm(e) {
      this.errorEmail = null;
      this.errorPassword = null;
      if (!this.mail) {
        this.errorEmail = 'Correo electrònico obligatorio';
      }
      if (!this.passwd) {
        this.errorPassword = 'Contraseña obligatoria';
      }
      e.preventDefault();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/login";
</style>
