<template>
  <div class="national-lottery">
    <Header></Header>
    <div class="national-lottery-content">
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/primitiva.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">La Primitiva</h2>
          <p class="national-lottery-item-text">La Primitiva es un sorteo de lotería
            que consiste en acertar 6 números de entre 49.
            Esto otorgaría a la apuesta acertante un premio de Primera Categoría,
            y si además se acierta el número correspondiente al reintegro,
            entonces recibe el premio de Categoría Especial con el bote acumulado.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/quinigol.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Quinigol</h2>
          <p class="national-lottery-item-text">El Quinigol es un juego que consiste en pronosticar
            el número de goles que marcará
            cada equipo en 6 partidos de futbol de una jornada. Los pronósticos de estos partidos
            se realizan marcando 0, 1, 2 ó M en función del número de goles que crees que marcará
            cada uno de los equipos siendo 0=no marcará ningún gol, 1= marcará 1 gol, 2= marcará
            2 goles y M= marcará 3 o más goles.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/quiniela.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Quiniela</h2>
          <p class="national-lottery-item-text">La Primitiva es un sorteo de lotería
            que consiste en acertar 6 números de entre 49.
            Esto otorgaría a la apuesta acertante un premio de Primera Categoría,
            y si además se acierta el número correspondiente al reintegro,
            entonces recibe el premio de Categoría Especial con el bote acumulado.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/lototuf.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Lototurf</h2>
          <p class="national-lottery-item-text">La Primitiva es un sorteo de lotería
            que consiste en acertar 6 números de entre 49.
            Esto otorgaría a la apuesta acertante un premio de Primera Categoría,
            y si además se acierta el número correspondiente al reintegro,
            entonces recibe el premio de Categoría Especial con el bote acumulado.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/loterianacional.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Loteria nacional</h2>
          <p class="national-lottery-item-text">La Primitiva es un sorteo de lotería
            que consiste en acertar 6 números de entre 49.
            Esto otorgaría a la apuesta acertante un premio de Primera Categoría,
            y si además se acierta el número correspondiente al reintegro,
            entonces recibe el premio de Categoría Especial con el bote acumulado.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/gordo.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">El Gordo</h2>
          <p class="national-lottery-item-text">La Primitiva es un sorteo de lotería que consiste
            en acertar 6 números de entre 49.
            Esto otorgaría a la apuesta acertante un premio de Primera Categoría,
            y si además se acierta el número correspondiente al reintegro,
            entonces recibe el premio de Categoría Especial con el bote acumulado.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/euromillones.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Euromillones</h2>
          <p class="national-lottery-item-text">
            Euromillones es un sorteo de lotería que consiste en acertar 5 números de
            entre 50 y 2 estrellas de entre 12. Se celebran sorteos de Euromillones todos
            los martes y viernes del año, en cada uno de los cuales se extrae la combinación
            ganadora de ese sorteo. Si algún participante acierta los 5 números y 2 estrellas
            que componen esta combinación ganadora de Euromillones, ganará el bote que se haya
            ido acumulando y que puede llegar a alcanzar los 190 millones de euros. En caso de
            que no haya bote acumulado, porque se haya repartido en el sorteo anterior,
            el sorteo de Euromillones pone en juego, como mínimo, nada más y nada menos
            que 17 millones de euros. Por ello Euromillones es el sorteo que mayores premios reparte
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
      <div class="national-lottery-item">
        <img class="national-lottery-item-img" src="../../static/images/logos/bono.jpg"/>
        <div class="national-lottery-item-info">
          <h2 class="national-lottery-item-title">Bonoloto</h2>
          <p class="national-lottery-item-text">
            El sorteo de la Bonoloto es un sorteo de lotería que consiste en acertar
            6 números de entre 49.
            Además de las 6 bolas correspondientes a la combinación ganadora de Bonoloto,
            se extrae una bola adicional de ese mismo bombo que es el número complementario
            y que se tiene en cuenta en los premios de 2ª categoría. También se extrae un número
            del 0 al 9 correspondiente al número del reintegro.
          </p>
          <button class="national-lottery-item-btn">Jugar ahora</button>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'NationalLottery',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/nationalLottery";
</style>
