<template>
  <div class="sign-up">
    <Header></Header>
    <div class="sign-up-content">
      <h1 class="sing-up-title">Crea un nou compte</h1>
      <p>Es necessari que ens facilitis la informació
        imprescindible per agilitar el procés de compra.
      </p>
      <form class="sign-up-form">
        <input class="form-input" placeholder="* Nombre" type="text"/>
        <input class="form-input" placeholder="* Apellidos" type="text"/>
        <input class="form-input" placeholder="* Correo electrónico" type="text"/>
        <input class="form-input" placeholder="* Movil" type="text"/>
        <input class="form-input" placeholder="* Contraseña" type="password"/>
        <input class="form-input" placeholder="* Repite contraseña" type="password"/>
        <button class="btn-black-sign-up">Registrarse</button>
        <div class="checkbox">
          <label class="checkbox-label">
            <input class="form-newsletter" type="checkbox" />
            Vull rebre informació sobre les novetats de
            <b>loteria9sabadell.com</b> al meu correu electrònic
          </label>
        </div>
        <div class="checkbox">
          <label class="checkbox-label">
            <input class="form-privacy" type="checkbox" />
            He pogut llegir i entenc la <u>Política de Privadesa i cookies</u>.
          </label>
        </div>
      </form>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './header/Header';
import Footer from './footer/Footer';

export default {
  name: 'SignUp',
  components: {
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../static/styles/signUp";
</style>
