<template>
  <footer class="footer">
    <div class="footer-menu">
      <ul class="footer-column">
        <router-link to="/lottery-company">
          <li class="footer-column-item">Loteria para empresas</li>
        </router-link>
        <router-link to="/national-lottery">
          <li class="footer-column-item">Loteria Nacional</li>
        </router-link>
        <router-link to="/results-and-awards">
          <li class="footer-column-item">Resultados y botes</li>
        </router-link>
      </ul>
      <ul class="footer-column">
        <li class="footer-column-item">Condiciones de uso</li>
        <li class="footer-column-item">Condiciones de venta</li>
        <li class="footer-column-item">Politica de privacidad y de cookies</li>
      </ul>
      <ul class="footer-column">
        <li class="footer-column-item">Ayuda</li>
        <li class="footer-column-item">Mis compras</li>
        <li class="footer-column-item">Contacto</li>
      </ul>
    </div>
    <div class="footer-info">
      <ul class="footer-info-row">
        <li class="footer-info-row-item">
          Avinguda Barberà 324 - 08203 - Sabadell (Barcelona, España)
        </li>
        <li class="footer-info-row-item">
          &copy; 2018 Adminitración 9 Sabadell
        </li>
      </ul>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  components: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/footer/footer";
</style>
