<template>
  <div class="awards">
  </div>
</template>

<script>
export default {
  name: 'awards',
  components: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/resultsAndAwards/awards";
</style>
