<template>
  <div class="results-awards">
    <Header></Header>
    <div class="results-awards-content">
      <Results></Results>
      <Awards></Awards>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../header/Header';
import Footer from '../footer/Footer';
import Results from './Results';
import Awards from './Awards';

export default {
  name: 'resultsAndAwards',
  components: {
    Awards,
    Results,
    Header,
    Footer,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/resultsAndAwards/resultsAndAwards";
</style>
