<template>
  <div class="results">
    <h2>Últimos resultados</h2>
    <div class="results-item">
      <img
        src="../../../static/images/logos/euromillones.jpg"
        class="results-item-img"
      />
      <div class="results-item-info">
        <h4 class="results-item-title">Euromillones</h4>
        <p class="results-item-date">24/12/2018</p>
      </div>
      <div class="results-item-numbers">
        <div class="results-item-number">1</div>
        <div class="results-item-number">1</div>
        <div class="results-item-number">1</div>
        <div class="results-item-number">1</div>
        <div class="results-item-number">1</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'results',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/resultsAndAwards/results";
</style>
