.lottery-company-code-content {
  padding: 64px 25%;
  min-height: 100vh;

  .code-company-input {
    float: left;
    width: 50%;
    height: 42px;
    margin: 32px 5% 0 0;
    border: 0;
    border-bottom: 1px solid #D7D7D8;
    outline: none;
    color: #121314;

    &:focus {
      border-bottom: 1px solid #121314;
      color: #121314;
    }
  }

  .btn-code-black {
    background-color: #121314;
    border: 0;
    width: 33%;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;

    &:hover {
      background-color: #525457;
    }
  }
}


.customizable-page-company {
  margin-top: 64px;

  .christmas-cart-company {
    text-align: justify;
  }

  .decimo-navidad-img {
    margin: 32px 0 0;
    width: 380px;
    box-shadow: 0 0 1.5px 1.5px #D7D7D7;
  }

  .btn-remove,
  .btn-add {
    position: relative;
    background-color: #121314;
    border: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;

    &:hover {
      background-color: #525457;
    }
  }
  .input-add-cart {
    width: 42px;
    height: 42px;
    text-align: center;

    &:focus,
    &:hover {
      outline: none;
      cursor: auto;
    }
  }

  .input-add-cart[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .decimo-content {
    align-items: center;
    text-align: center;
  }

  .decimo-quantity {

  }

  .btn-add-to-cart {
    background-color: #121314;
    border: 0;
    width: 242px;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;

    &:hover {
      background-color: #525457;
    }
  }
}



