.lottery-company-content {
  padding: 64px 25%;
  min-height: 100vh;

  p {
    font-size: 1rem;
    margin: 16px;
  }

  svg {
    float: left;
    margin-right: 16px;
  }

  .company-btn-black {
    position: relative;
    float: left;
    background-color: #121314;
    border: 1px solid #121314;
    width: 25%;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;
    margin-left: 10%;

    &:hover {
      color: #121314;
      background-color: white;
    }
  }
}

.modal-veil {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F3F3F3;
  opacity: 0.8;
  z-index: 10;
}

.action-buttons-lottery-company {
  margin-left: 10%  ;
}
