.lottery-company-modal {
  position: fixed;
  top: calc(50% - 246px);
  left: calc(50% - 437px);
  height: 492px;
  width: 874px;
  z-index: 100;
}

.modal-wrapper {
  position: absolute;
  top: calc(50% - 246px);
  left: calc(50% - 437px);
  z-index: 101;
  height: 492px;
  width: 874px;
  background-color: white;
  border: 1px solid #D7D7D8;
}

.modal-photo {
  position: relative;
  float: left;
  height: 100%;
  width: 350px;
}

.modal-action {
  position: relative;
  float: left;
  height: 100%;
  width: 522px;
  padding: 40px;

  .modal-navigation {
    .breadcrumbs {
      height: 40px;
      width: 100%;
      margin: 0 0 35px;

      .breadcrumb {
        display: inline-block;
        text-align: center;
        list-style: none;
        position: relative;
        float: left;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        border: 1px solid #121314;
        margin: 0 25px;
        background-color: white;
        z-index: 1000;
        padding-top: 9px;
        cursor: pointer;
        user-select: none;
      }

      .breadcrumbActive {
        cursor: auto;
        color: white;
        background-color: #121314;
      }
    }
  }
}

.label-steps {
  height: 20px;
  width: 442px;
  border-bottom: 1px solid #121314;
  position: absolute;
}

.btn-black {
  position: absolute;
  background-color: #121314;
  border: 0;
  width: 222px;
  height: 42px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 16px;
  margin-left: 110px;
  margin-right: 110px;
  bottom: 32px;

  &:hover {
    background-color: #525457;
  }
}

.way-to-play {
  &-option {
    background-color: white;
    width: 100%;
    margin-bottom: 16px;
    border: 0;
    height: 64px;
    outline: none;
    text-align: left;

    &:hover {
      cursor: pointer;
      background-color: #FAFAFA;
      border: 0.5px solid #F3F3F3;
    }
  }
}

.number-reserve-input {
  width: 70%;
  height: 32px;
  margin: 32px 16px 16px 0;
  border: 0;
  border-bottom: 1px solid #D7D7D8;
  outline: none;
  color: #121314;
  float: left;

  &:focus {
    border-bottom: 1px solid #121314;
    color: #121314;
  }
}

.confirmation-input {
  width: 70%;
  height: 32px;
  margin: 0px 16px 16px 0;
  border: 0;
  border-bottom: 1px solid #D7D7D8;
  outline: none;
  color: #121314;
  float: left;

  &:focus {
    border-bottom: 1px solid #121314;
    color: #121314;
  }
}

.customize-text-area {
  width: 100%;
  height: 128px;
  margin: 16px 16px 16px 0;

  border: 1px solid #D7D7D8;
  outline: none;
  color: #121314;
  float: left;

  &:focus {
    border: 1px solid #121314;
    color: #121314;
  }
}

.customize-input {
  width: 45%;
  height: 32px;
  margin: 0px 16px 16px 0;
  border: 0;
  border-bottom: 1px solid #D7D7D8;
  outline: none;
  color: #121314;
  float: left;

  &:focus {
    border-bottom: 1px solid #121314;
    color: #121314;
  }
}

.customize-description {
  margin: 0;
  padding: 0;
  color: #121314;
}

.confirmation-info {
  text-align: justify;
  padding-bottom: 16px;
}
