.cart-title {
  text-align: center;
  font-size: 24px;
}

.cart-list-header {
  margin: 0 10%;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 100%;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #D7D7D8;
  border-top: 1px solid #D7D7D8;
}

.cart-list-header-item {
  display: inline-block;
  width: 25%;
}

.cart-list-product {
  margin: 0 10%;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #D7D7D8;

  .cart-list-product-item {
    display: inline-block;
    width: 25%;
  }

  .product-image {
    max-width: 100%;
  }

  .item-price {
    font-weight: 500;
  }
}

.cart-resume {
  margin-bottom: 64px;
}

.card-confirm {
  margin: 0 10% 16px 50%;
  padding: 12px 0 12px;
  border: 1px solid #D7D7D8;

  .card-confirm-total {
    width: 100%;
    display: inline-block;
    text-align: center;

    &-label {
      font-size: 24px;
      font-weight: 600;
      width: 50%;
    }

    &-price {
      font-size: 24px;
      font-weight: 600;
      width: 50%;
    }
  }
  .btn-black-card-confirm {
    background-color: #121314;
    border: 0;
    width: 40%;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin: 32px 0 0 55%;

    &:hover {
      background-color: #525457;
    }
  }
}

.card-info-legal {
  margin: 0 10% 64px 50%;
  text-align: center;
  color: #525457;
}
