.home {
  background-color: white;
}

.home-content {
  margin: 64px;
  height: auto;
  overflow: hidden;
  min-height: 100vh;
}

.photo {
  background-color: #F3F3F3;
  float: left;
  width: 58%;
  height: 324px;

  &-img {
    width: 100%;
    height: 100%;
  }
}

.promo {
  background-color: #F3F3F3;
  float: right;
  width: 38%;
  height: 324px;

  &-img {
    height: 100%;
  }
}

.menu-type {
  float: left;
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-item {
    height: 100%;
  }

  &-img {
    height: 100%;
    margin: 0 32px;

    &:hover {
      cursor: pointer;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.home-info {
  background-color: #F3F3F3;
  float: left;
  width: 30%;
  height: 128px;
  margin-right: 5%;

  &:last-of-type {
    margin-right: 0;
    float: right;
  }
}
