.login {
  background-color: white;
}

.login-content {
  position: relative;
  margin: 64px;
  align-items: center;
  text-align: left;
  height: auto;
  overflow: hidden;
  min-height: 100vh;

  &-form {
    float: left;
    width: 40%;
    margin: 0 5% 0 5%;
  }

  &-register {
    float: left;
    width: 40%;
    margin: 0 0 0 5%;
  }
}

.form-input {
  width: 100%;
  height: 32px;
  margin: 32px 16px 8px 0;
  border: 0;
  border-bottom: 1px solid #D7D7D8;
  outline: none;
  color: #121314;

  &:focus {
    border-bottom: 1px solid #121314;
    color: #121314;
  }
}

.btn-black-login {
  background-color: #121314;
  border: 0;
  width: 100%;
  height: 42px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 32px;

  &:hover {
    background-color: #525457;
  }
}

.login-form {
  margin-bottom: 32px;
}

.recover-password {
  color: #121314;
  border-bottom: 1px solid #121314;

  &:hover {
    cursor: pointer;
    color: #adafb2;
    border-bottom: 1px solid #adafb2;
  }
}

.register-text {
  &:last-of-type {
    padding: 32px 0 0 0;
  }
}

.error-msg {
  color: red;
}
