.national-lottery-content {
  padding: 32px 15% 64px;

  .national-lottery-item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #F3F3F3;
    padding: 32px 0;

    &-info {
      margin: 0 0 0 32px;
    }

    &-title {
      margin: 0 0 4px 0;
    }

    &-btn {
      background-color: #121314;
      border: 0;
      height: 42px;
      cursor: pointer;
      outline: none;
      text-align: center;
      color: white;
      font-size: 16px;
      font-family: 'Work Sans', sans-serif;
      margin-top: 16px;
      padding: 8px 32px;

      &:hover {
        background-color: #525457;
      }
    }

    &-img {
      height: 100%;
    }

    &-text {
      text-align: justify;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
