.sign-up {
  background-color: white;
}

.sign-up-content {
  position: relative;;
  align-items: center;
  text-align: left;
  height: auto;
  overflow: hidden;
  margin: 64px 35%;
  min-height: 100vh;
}

.sing-up-title{
  font-size: 24px;
}

.checkbox {
  margin: 16px 0;
  font-size: 12px;
}

.form-input {
  width: 100%;
  height: 32px;
  margin: 32px 16px 16px 0;
  border: 0;
  border-bottom: 1px solid #D7D7D8;
  outline: none;
  color: #121314;

  &:focus {
    border-bottom: 1px solid #121314;
    color: #121314;
  }
}


.btn-black-sign-up {
  background-color: #121314;
  border: 0;
  width: 100%;
  height: 42px;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 32px;

  &:hover {
    background-color: #525457;
  }
}

.form-newsletter {
  float: left;
  cursor: pointer;
}

.form-privacy {
  float: left;
  cursor: pointer;
}
