p {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 0.875rem;
}

.header-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  background-color: #121314;
  color: white;

  &-contact {
    margin: 0;
    height: 100%;
    float: right;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  &-support {
    display: inline-block;
    padding: 0 32px 0;
    border-right: 1px solid white;

    &:last-of-type {
      border: none;
    }
  }

  &-button {
    float: left;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    font-size: 14px;

    &:hover {
      color: #D7D7D8;
      cursor: pointer;
    }

    &:active,
    &:focus {
      outline: none;
    }

  }
}
