a:link {
  color: black;
  text-decoration:none;
}

a:visited {
  color: black;
}

.header-options {
  position: absolute;
  width: 100%;
  margin-top: 32px;
  height: 64px;

  &-menu {
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
    height: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

    .menu-item {
      display: inline-block;
      padding: 0 32px 0;

      &-btn {
        float: left;
        background-color: transparent;
        border: none;
        color: #121314;
        padding: 0;
        font-size: 14px;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          border-bottom: 2px solid #121314;
          padding-bottom: 2px;
        }

        &:active,
        &:focus {
          outline: none;
        }

      }
    }
  }

  &-nav-tools {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-tools-item {
      display: inline-block;
      padding: 0 16px 0;
    }

    .nav-tools-btn {
      float: left;
      background-color: transparent;
      border: none;
      color: #121314;
      padding: 0;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid #121314;
        padding-bottom: 2px;
      }

      &:active,
      &:focus {
        outline: none;
      }
    }

    .user-menu {
      position: absolute;
      top: 64px;
      padding: 0 16px;
      list-style: none;
      right: 0;
      width: 164px;
      background-color: white;
      border-left: 1px solid #adafb2;
      border-bottom: 1px solid #adafb2;
      font-size: 14px;
      z-index: 1000;

      &-item {
        text-align: center;
        padding: 8px;

        &:hover {
          cursor: pointer;

          a {
            color: #adafb2;
          }
        }
      }
    }

    .user-cart {
      position: absolute;
      top: 64px;
      padding: 0 16px;
      list-style: none;
      right: 0;
      width: 400px;
      background-color: white;
      border-left: 1px solid #adafb2;
      border-bottom: 1px solid #adafb2;
      font-size: 14px;
      z-index: 1000;

      &-item {
        text-align: center;
        padding: 8px;
      }
    }
  }
}

.header-logo {
  position: absolute;
  height: 100%;
  margin-left: 64px;
  text-align: center;
  padding: 8px;

  &:hover {
    cursor: pointer;
  }
}

.sticky-bar {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #121314;
  z-index: 2000;
}
