<template>
  <div class="lottery-company">
    <Header></Header>
    <div class="lottery-company-content">
      <h1>Loteria para empresas</h1>
      <label>Contratando el servicio de loteria para empresas,
        facilitamos la gestión y la compra de la
        loteria de Navidad para que todos sus empleados
        la puedan comprar de forma fácil y rápida.</label>
        <h3>Porque gestionar la loteria de Navidad con loteria9sabadell.com</h3>
      <p>
        <Forum/>
        La empresa se olvida de los dolres de cabeza que conlleba la loteria de Navidad.
      </p>
      <p>
        <Lock/>
        Cada empleado podrá comprar los números que desee de manera totalmente privada.
      </p>
      <p>
        <Verified/>
        Estamos comprometidos con los estándares de seguridad más exigentes para que
        la experiencia en la web sea 100% segura.
      </p>
      <p>
        <MoneyOff/>
        Sin coste adicional. Todos podrán participar sin ningún coste adicional, ni para la
        empresa ni para el trabajador.
      </p>
      <p>
        <Create/>
        Personaliza la página de la compra con el logotipo de la empresa
        y el mensaje de felicitación navideña que desees.
      </p>
      <p>
        <Work/>
        Posiblidad de tener diferentes números para que cada departamentos puedan tener el suyo.
      </p>
      <div class="action-buttons-lottery-company">
        <router-link to="/lottery-company/code">
          <button class="company-btn-black">Introducir código</button>
        </router-link>
        <button class="company-btn-black" v-on:click="showModal">¡Reservar ya!</button>
      </div>
    </div>
    <ModalLotteryCompany
      v-if="this.modal"
      @modalLotteryCompany:hideModal="hideModal"
    />
    <div class="modal-veil" v-on:click="hideModal()" v-if="this.modal"></div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../header/Header';
import Footer from '../footer/Footer';
import ModalLotteryCompany from '../lotteryCompany/modalLotteryCompany';
import Create from '../../assets/baseline-create-24px.svg';
import Forum from '../../assets/baseline-forum-24px.svg';
import Lock from '../../assets/baseline-lock-24px.svg';
import MoneyOff from '../../assets/baseline-money_off-24px.svg';
import Verified from '../../assets/baseline-verified_user-24px.svg';
import Work from '../../assets/baseline-work-24px.svg';

export default {
  name: 'LotteryCompany',
  components: {
    Header,
    Footer,
    ModalLotteryCompany,
    Create,
    Forum,
    Lock,
    MoneyOff,
    Verified,
    Work,
  },
  data() {
    return {
      modal: false,
    };
  },
  methods: {
    showModal() {
      this.modal = true;
    },
    hideModal() {
      this.modal = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/lotteryCompany/lotteryCompany";
</style>
