<template>
  <div class="lottery-company-code">
    <Header></Header>
    <div class="lottery-company-code-content">
      <h2 >Loteria para empresas</h2>
      <label>¿Tu empresa ya te ha proporcionado tu código para comprar tu décimo de navidad?</label>
      <br>
      <label>Introdúcelo a continuación y empieza ya!</label>
      <br>
      <input class="code-company-input" placeholder="Código de navidad"/>
      <button class="btn-code-black">Comprobar</button>
      <div class="customizable-page-company">
        <h3 class="company-name">Nombre de la empresa</h3>
        <p class="christmas-cart-company">
          Todos nosotros en (Nombre de la empresa) le enviamos nuestros saludos en
          estas fechas con los mejores deseos para el año nuevo. Todos en
          (Nombre de la empresa) le agradecemos por trabajar con nosotros este año que
          termina y esperamos con interés trabajar con usted de nuevo el año que está por comenzar.
          <br>¡Felices Fiestas!
        </p>
        <div class="decimo-content">
          <img
            src="../../../static/images/decimo_navidad_2018.jpg"
            class="decimo-navidad-img"
          />
          <div class="decimo-quantity">
            <button class="btn-remove" v-on:click="removeDecimo">-</button>
            <input class="input-add-cart" type="number" v-bind:value="totalDecimos" readonly/>
            <button class="btn-add" v-on:click="addDecimo">+</button>
            <button class="btn-add-to-cart">Añadir al carro</button>
          </div>
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../header/Header';
import Footer from '../footer/Footer';

export default {
  name: 'lotteryCompanyCode',
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      totalDecimos: 0,
    };
  },
  methods: {
    addDecimo() {
      this.totalDecimos += 1;
    },
    removeDecimo() {
      if (this.totalDecimos > 0) {
        this.totalDecimos -= 1;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/lotteryCompany/lotteryCompanyCode";
</style>
