<template>
  <div class="lottery-company-modal">
    <div class="modal-wrapper">
      <div class="modal-photo">
        <img src="../../../static/images/prova-modaljpg.jpg"/>
      </div>
      <div class="modal-action">
        <header class="modal-navigation">
          <div class="label-steps"></div>
          <ul class="breadcrumbs">
            <li
              class="breadcrumb"
              v-bind:class="{ breadcrumbActive: step1 }"
              v-on:click="changeStep(1)"
            >1</li>
            <li
              class="breadcrumb"
              v-bind:class="{ breadcrumbActive: step2 }"
              v-on:click="changeStep(2)"
            >2</li>
            <li
              class="breadcrumb"
              v-bind:class="{ breadcrumbActive: step3 }"
              v-on:click="changeStep(3)"
            >3</li>
            <li
              class="breadcrumb"
              v-bind:class="{ breadcrumbActive: step4 }"
              v-on:click="changeStep(4)"
            >4</li>
          </ul>
        </header>
        <div class="way-to-play" v-if="actualStep === 1">
          <h2>Elige la forma de jugar:</h2>
          <button class="way-to-play-option"><CheckboxEmpty /> Online</button>
          <button class="way-to-play-option"><CheckboxEmpty /> Física</button>
          <button class="way-to-play-option"><CheckboxEmpty /> Míxta</button>
          <button class="btn-black" v-on:click="nextStep">Continuar</button>
        </div>
        <div class="number-reserve" v-if="actualStep === 2">
          <h4>Reserva la cantidad de décimos que necessites:</h4>
          <input class="number-reserve-input"
                 placeholder="Introduce el número del décimo que desee"/>
          <input class="number-reserve-input" placeholder="Introduce la cantidad a reservar"/>
          <button class="btn-black" v-on:click="nextStep">Continuar</button>
        </div>
        <div class="customize" v-if="actualStep === 3">
          <h2>Personaliza vuestra página de compra:</h2>
          <input class="customize-input" placeholder="Introduce el código que desees"/>
          <p class="customize-description">
            Introduce una felicitación navideña para la página de compra:
          </p>
          <textarea
            class="customize-text-area"
          >
          </textarea>
          <button class="btn-black" v-on:click="nextStep">Continuar</button>
        </div>
        <div class="confirmation" v-if="actualStep === 4">
          <h2>Finaliza la reserva:</h2>
          <p class="confirmation-info">
            Para poner en marcha la Loteria de Navidad 2018, introduce un teléfono
            de contacto y un correo electrónico. Pronto nos pondremos en contacto
            para iniciar los trámites correspondientes.
          </p>
          <input
            class="confirmation-input"
            placeholder="Nombre de la empresa"
          />
          <input
            class="confirmation-input"
            placeholder="Correo electrónico"
          />
          <input
            class="confirmation-input"
            placeholder="Número de teléfono"
          />
          <button class="btn-black" v-on:click="hideModal">Finalizar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CheckboxEmpty from '../../assets/checkboxEmpty.svg';
import CheckboxSelected from '../../assets/checkboxSelected.svg';

export default {
  name: 'modalLotteryCompany',
  components: {
    CheckboxEmpty,
    CheckboxSelected,
  },
  methods: {
    hideModal() {
      this.$emit('modalLotteryCompany:hideModal');
    },
    changeStep(step, change) {
      switch (step) {
        case 1:
          if (this.actualStep > 1 || change) {
            this.step1 = true;
            this.step2 = false;
            this.step3 = false;
            this.step4 = false;
            this.actualStep = 1;
          }
          break;
        case 2:
          if (this.actualStep > 2 || change) {
            this.step1 = false;
            this.step2 = true;
            this.step3 = false;
            this.step4 = false;
            this.actualStep = 2;
          }
          break;
        case 3:
          if (this.actualStep > 3 || change) {
            this.step1 = false;
            this.step2 = false;
            this.step3 = true;
            this.step4 = false;
            this.actualStep = 3;
          }
          break;
        case 4:
          if (this.actualStep > 4 || change) {
            this.step1 = false;
            this.step2 = false;
            this.step3 = false;
            this.step4 = true;
            this.actualStep = 4;
          }
          break;
        default:
          break;
      }
    },
    nextStep() {
      if (this.actualStep <= 4) {
        this.changeStep(this.actualStep + 1, true);
      }
    },
  },
  data() {
    return {
      actualStep: 1,
      step1: true,
      step2: false,
      step3: false,
      step4: false,
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../../static/styles/lotteryCompany/modalLotteryCompany";
</style>
