<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');

  * {
    box-sizing: border-box;
  }

  html {
    position: relative;
    overflow-x: hidden;
    display: block;
    background-color: white;
  }

  body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    font-weight: normal;
    display: block;
    margin: 0;
  }
</style>
