.footer {
  position: relative;
  background-color: #121314;
  color: white;
  height: auto;
  overflow: hidden;
  width: 100%;
  bottom: 0;

  &-menu {
    display: flex;
    justify-content: center;
  }

  &-column {
    float: left;
    height: 100%;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0 24px 0 0;

    &-item {
      padding: 2px;
      margin: 10px;

      &:hover {
        cursor: pointer;
        color: #D7D7D8;
      }
    }
  }

  &-info {
    position: relative;
    font-size: 14px;
    height: auto;
    overflow: hidden;

    &-row {
      float: left;
      width: 100% ;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      border-top: 0.75px solid white;
      margin: 0;
      padding: 20px;
      background-color: #121314;

      &-item {
        padding-right: 40px;
      }
    }
  }

  a:visited {
    color: white;
  }
}
