.checkout-content {
  padding: 32px 25%;
  min-height: 100vh;

  .checkout-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
  }

  .checkout-sub-title {
    margin: 16px 0 16px 10%;
  }

  .checkout-paragraph {
    font-size: 1rem;
    margin: 16px 10% 32px 10%;
  }

  .checkout-btn-black {
    position: relative;
    float: right;
    background-color: #121314;
    border: 1px solid #121314;
    width: 25%;
    height: 42px;
    cursor: pointer;
    outline: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-top: 32px;
    margin-right: 10%;

    &:hover {
      color: #121314;
      background-color: white;
    }
  }

  .checkout-resume {
    width: 80%;
    margin: 0 10%;
    padding: 16px;
    background-color: #F3F3F3;
    border: 1px solid #D7D7D7;

    &-col {
      padding: 16px 0;
    }
  }
}
